/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border-radius: 20px;
}

/* VARIABLES CSS */
:root {
    --header-height: 5rem;
    --nav-width: 10px;

    /* Colours */
    --green-color: #CBDF94;
    --red-color: #F8CFB8;
    --background-color: #FDF8F8;
    --yellow-color: #FCE5B2;
    --text-color: #6A3E3E;
    --white-color: #ffffff;

    /* Font and typography */
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;

    /* z index */
    --z-fixed: 100;
}

/* BASE */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

a {
    text-decoration: none;
}

/* HEADER */
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    transition: .5s;
    color: var(--text-color);
}

.header_toggle {
    color: var(--text-color);
    padding: 5px;
    background-color: var(--yellow-color);
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    z-index: 200;
    border-radius: 10px;
}

/* NAV*/
.left-navbar {
    position: fixed;
    top: 0;
    left: -50%;
    width: calc(var(--nav-width) + 156px);
    height: 100vh;
    background-color: var(--yellow-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
    border-radius: 0px;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
    position: relative;
    color: var(--text-color);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    transition: .3s;
    top: 10rem;
}

.nav_link:hover {
    color: #b3842e;
}

.nav_icon {
    font-size: 1.25rem;
}

/* Show navbar movil */
.show {
    left: 0;
}

/* Add padding body movil */
.bx-x {
    padding-left: calc(var(--nav-width) + 9rem);
    transition: .55s;
}



/* CHECK MY MASK PAGE */

.button {
    background-color: #CD5B54;
    border: none;
    color: var(--white-color);
    padding: 20px;
    margin-top: 600px;
    width: 350px;
    font-size: 25px;
}